* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 10px;
}

.return {
    text-decoration: none;
    color: black;
}

.return:hover {
    color: lightgray;
    cursor: pointer;
}