* {
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.list {
    background-color: greenyellow;
    position: absolute;
    top: 16vh;
    bottom: 16vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border: 4px solid black;
    box-shadow: 0 0 0 4px black;
}

#kog_bottom {
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 10%;
    bottom: 0;
    left: 30%;
}

#kog_top {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 10%;
    top: 0;
    left: 10%;
}

.player {
    border-bottom: 2px solid black;
    padding: 10px;
}

.dead {
    color: red;
    opacity: 0.6;
}