* {
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}

.list {
    background-color: greenyellow;
    position: absolute;
    top: 16vh;
    bottom: 16vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    border: 4px solid black;
    box-shadow: 0 0 0 4px black;
}

.kog_logo {
    position: absolute;
    top: 1%;
    width: 50px;
    height: 50px;
    left: 8%;
}

.heading h1 {
    padding-bottom: 10px;
    width: 100%;
}

#kog_bottom {
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 10%;
    bottom: 0;
    left: 30%;
}

#kog_top {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 10%;
    top: 0;
    left: 10%;
}

#plrs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.player {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 10px;
    width: 100%;
    display: flex;
    width: 100%;
    padding-left: 50px;
    margin-bottom: 20px;
}

.dead {
    color: red;
    opacity: 0.6;
}

.status_img {
    height: 50px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .list {
        width: 100% !important;
    }
}