body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list {
    background-color: greenyellow;
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kog_bottom {
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 10%;
    bottom: 0;
    left: 30%;
}

#kog_top {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 10%;
    top: 0;
    left: 10%;
}