* {
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}

.list {
    background-color: #adff2f;
    position: absolute;
    top: 16vh;
    bottom: 16vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    border: 4px solid black;
    box-shadow: 0 0 0 4px black;
}

.kog_logo {
    position: absolute;
    top: 1%;
    width: 50px;
    height: 50px;
    left: 8%;
}

.heading a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    position: absolute;
    top: 2.5%;
    left: 5%;
}

.heading a:hover {
    color: lightgray;
    cursor: pointer;
}

.heading h1 {
    padding-bottom: 10px;
    width: 100%;
}

#kog_bottom {
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 10%;
    bottom: 0;
    left: 30%;
}

#kog_top {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 10%;
    top: 0;
    left: 10%;
}

#plrs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.player {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-bottom: 4px solid black;
    border-top: 2px solid black;
    width: 100%;
    margin-bottom: 20px;
}

.plr-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.player-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top-row {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    margin-bottom: 8px;
}

.bottom-row {
    display: grid;
    grid-template-columns: 1fr auto;
}

.top-row span, .bottom-row span {
    margin-right: 10px;
}

.dead {
    color: red;
    opacity: 0.6;
}

.status_img {
    height: 50px;
    padding-right: 20px;
}

#setting_btn {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#settings {
    background-color: lightgray;
    position: absolute;
    top: 5%;
    right: 1%;
    width: 300px;
    height: 600px;
    border: 4px solid black;
    padding: 20px;
    z-index: 2;
}

#delete_acc {
    background-color: red;
    color: white;
}

#admin {
    opacity: 0;
    text-decoration: none;
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 40px;
}

#admin:hover {
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 768px) {
    .list {
        width: 100% !important;
    }
    .player-wrapper {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .kog_logo {
        width: 30px !important;
        height: 30px !important;
        left: 5% !important;
    }
    .heading h1 {
        font-size: 14px !important;
    }
    .heading a {
        font-size: 20px !important;
    }
    * {
        font-size: 10px !important;
    }
}